<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "user_details" %>
  </div>
  <div class="small-5 columns">
  	<% if @user.role? (:admin) || @user.role?(:customer) %>
   	 	<%= render :partial => "order_history" unless @user_orders.empty?%>
   	<% end %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy user -->
<%= render :partial => "user_list_edit_destroy" %>
