    <% if logged_in? && (current_user.role?(:customer)) %>
        <h2><%= "Welcome To Bread Express!" %></h2>
        <p>Click <%= link_to "here", items_path %> to start shopping now! </p>
    <% end %>
