    <% if logged_in? && (current_user.role?(:admin) || current_user.role?(:customer)) %>
      <div class="small-6 columns text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
        <h2><%= "Welcome To The Bread Express System, #{current_order.id}!" %></h2>
      </div>
    <% end %>
