<div class="row">
  <div class="small-7 columns">
    <h2><em>About A &amp; M Bread Express</em></h2>

    <p>
    	Bread Express possibly the greatest thing to happen since sliced bread. "Why?" you may ask. Because Bread Express allows you to have sliced bread delivered to your house. If you don't think that's great, you're wrong. The mission of Bread Express is to bring about happiness in this sad sad world in a way no one has before, using bread. <br> So order, eat, and be happy.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>