<div class="row">
	<div class="small-7 columns">
		<h2>Contact Bread Express</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Derek Hirata</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("dhirata@andrew.cmu.edu", "Drek *", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>424-400-4134</td>
			</tr>
		</table>

		<p class="note"><br>* I am a student of CMU with no relation to Shrek (popular idol from Dream Works). One day Prof Q spelled my name wrong on a handout paper and the class laughed about it. Some seniors who are my fraternity brothers overheard it from outside the doorway. Since then I have been branded as 'Drek'</p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>