<div class="checkout">
	<fieldset>
		<h3>Checkout</h3>
		<fieldset>
			<h3>Your Order</h3>
  			<%= render :partial => "preview" %>
  		</fieldset>
  		<fieldset>
  			<h3>Payment</h3>
  			<%= render :partial => "form" %>
  		</fieldset>
  	</fieldset>
</div>