<% if @item_prices.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dates</th>
  			<th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @item_prices.each do |price| %>
        <tr>
          <td><%= "#{price.start_date.strftime('%m/%d/%y')} - #{price.end_date.strftime('%m/%d/%y')}" %></td>
          <td><%= price.price  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>